@font-face {
    font-family: "Angel-wish";
    src: url(./Fonts/Angel_wish.ttf) format('truetype');
}



body {
    background-color:indigo;
    background-image: linear-gradient(indigo,black);
    color: aliceblue;
    font-family: "Angel-wish";
    font-size:xx-large;
    text-align: center;

    cursor: url(./Cursor/John_Romero-removebg-preview.png), default;

}

h1{
    font-weight: lighter;

}

h2{
    font-weight: lighter;
}

h3{
    font-weight: lighter;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid darkred;
}

