@font-face {
    font-family: "Angel-wish";
    src: url(./Fonts/Angel_wish.ttf) format('truetype');
}



body {
    background-color:indigo;
    background-image: linear-gradient(indigo,black);
    color: aliceblue;
    font-family: "Angel-wish";
    font-size:xx-large;

}

h1{
    font-weight: lighter;

}

h2{
    font-weight: lighter;
}

h3{
    font-weight: lighter;
}

